[Unit]
Description=Update Grub environment settings

[Service]
Type=oneshot
ExecStart=grub2-editenv /boot/grub2/grubenv unset recordfail

[Install]
WantedBy=multi-user.target
